*{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
nav{
  position: fixed;
  width: 100%;
  transform: translatey(-50%);
  font-family: 'Roboto', sans-serif;
}
nav .icon{
  background-image: url(images/bent-creek-logo.png);
  background-size: cover;
  width: 35px;
  height: 35px;
  transform: translatey(117%);
}
.nav-bar{
  width: 100%;
  border-bottom: solid 1px grey;
  background-color: #FFFFFF;
  height: 30px;
  padding-top: 15px;
  top: 0;
}
ul {
  text-align: center;
  list-style: none;
  background-color: white;
}
li {
  display:inline;
  margin: 0% 5% 0% 5%
}
li a{
  color: black;
  text-transform: uppercase;
}
main, header{
  background-color: #F2F1E8;
  font-family: 'Merriweather', sans-serif;
  text-align: center;
  padding-top: 5%;
}
h1{
  font-size: 4em;
  font-weight:normal;
}
h2{
  margin: 0px 0px 0px 0px;
  padding-top: 1%;
  font-size: 2.5em;
  font-weight: lighter;
}
.img-grid{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 700px;
  width: 100%;
}
.img-row{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.img{
  margin: 0px 10px 0px 10px;
}
#row1{
  height:60%;
  width: 100%;
}
#row2{
  height:40%;
  width: 100%;
}
#succ{
  background-image: url(images/product-1.jpg);
  background-size: cover;
  width: 60%;
  height: 100%;
}
#bowl{
  background-image: url(images/product-2.jpg);
  background-size: cover;
  width: 20%;
  height: 100%;
}
#tray{
  background-image: url(images/product-3.jpg);
  background-size: cover;
  width:20%;
  height: 100%;
}
#bluecup{
  background-image: url(images/product-4.jpg);
  background-size: cover;
  width:20%;
  height:100%;
}
#jar{
  background-image: url(images/product-5.jpg);
  background-size: cover;
  width:20%;
  height:100%;
}
#wasasake{
  background-image: url(images/product-6.jpg);
  background-size: cover;
  width:40%;
  height:100%;
}
#browncup{
  background-image: url(images/product-7.jpg);
  background-size: cover;
  width:20%;
  height:100%;
}
.img-txt{
  background-color: rgb(42,48,47);
  color: rgb(241,241,230);
  font-size: 1em;
  padding: 10px 0px 10px 20px;

}
#row1 .img-txt{
  margin-top: 325px;
}
#row2 .img-txt{
  margin-top: 200px;
}
.txt-succ{
  width: 185px;
}
.txt-bowl{
  width: 55px;
}
.txt-tray{
  width: 90px;
}
.txt-bluecup{
  width: 95px;
}
.txt-jar{
  width: 175px;
}
.txt-wasasake{
  width: 155px;
}
.txt-browncup{
width: 175px;
}
.footer{
  background-color: rgb(42,48,47);
  color: rgb(241,241,230);
  font-size: 1.25em;
  padding: 10px 0px 10px 20px;
}
